<a href="https://colab.research.google.com/github/Sftwr-crativ/Phishing-Detection/blob/main/Machine_Learning_for_Phishing_Detection_(1).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Machine Learning for Phishing Detection

ML Algorithm Development Process:

1. Setup
2. Data exploration
3. Identifying new features
4. Building the model
5. Measuring performance
6. Iterating

## 1. Setup

Mount your google drive so you can access your data.

In [ ]:
!ls

sample_data

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

We import the python modules containing the tools you would like to use for the project. For this data science project, we will rely heavily on the modules `pandas`, `numpy`, and `sklearn`.

In [ ]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn import metrics

You may find in your exploration of the data that there are additional functions from other modules that you would like to use, and I encourage you to do so!

To install another module simply use the following line in the terminal of your computer:

`pip install <insert module name here>`

Once the module has been installed on your computer, you can import it in the same way as `pandas`, `numpy`, and `sklearn` were in the cell above

`import <insert module name here>`

The second step is to load the data you plan on analyzing. The data for this project is named `phishing_url_dataset.csv` and has been uploaded into the `data` folder of the github repository for this course.

In [ ]:
!ls "drive/MyDrive/Explo phishing"

Machine_Learning_for_Phishing_Detection.ipynb  phishing_url_dataset.csv

In [ ]:
data = pd.read_csv("drive/MyDrive/Explo phishing/phishing_url_dataset.csv")

In [ ]:
data.head(100)

,url,url_character_count,phishing_attempt
0,nobell[.]it/70ffb52d079109dca5664cce6f31737378...,225,True
1,www[.]dghjdgf[.]com/paypal[.]co[.]uk/cycgi-bin...,81,True
2,serviciosbys[.]com/paypal[.]cgi[.]bin[.]get-in...,177,True
3,mail[.]printakid[.]com/www[.]online[.]american...,60,True
4,thewhiskeydregs[.]com/wp-content/themes/widesc...,116,True
...,...,...,...
95,rsaxena[.]5gbfree[.]com/facebook[.]html,33,True
96,steamcommunity-giveaway[.]my3gb[.]com,33,True
97,steamglfts[.]h16[.]ru,17,True
98,steamglfts[.]hut2[.]ru/,19,True
99,vinzajah[.]5gbfree[.]com/login[.]php,30,True

In [ ]:
periodcountlist = []
periodcount = 0
for i in range(len(data)):
  periodcount = 0
  if data['phishing_attempt'].iloc[i] == False:
     print(data['url'].iloc[i][-3])
     period = data['url'].iloc[i]
     for j in range(len(period)): 
       if period[j] == '.':
         periodcount +=1
         periodcountlist.append(periodcount)

# print(periodcountlist)
# print("\n")

In [ ]:

data['biz_character_count'] = data['url'].apply(lambda x: int('.biz' in x))

data['com_count_in_url'] = data['url'].apply(lambda x: int('.com'  in x))

In [ ]:
data['period_count'] = periodcountlist

In [ ]:
data[data["phishing_attempt"] == False]

,url,url_character_count,phishing_attempt,biz_character_count,com_count_in_url,numeric_character_count,slash_count_in_url,www_count_in_url,php_count_in_url,paypal_count_in_url,wp_count_in_url,-_count_in_url,identification_count_in_url,net_count_in_url
18231,esxcc[.]com/js/index[.]htm?us[.]battle[.]net/n...,540,False,0,1,23,1,0,0,0,0,1,0,1
18232,wwweira�&nvinip�ncH�wV�%��yDaH��/�yE�u�\n�6...,332,False,0,0,13,1,1,0,0,0,1,0,0
18233,'www[.]institutocgr[.]coo/web/media/syqvem/dk-...,323,False,0,0,6,1,1,0,0,0,1,0,0
18234,Y�� ko�ջΧD��l����qt�/�; �,28,False,0,0,0,1,0,0,0,0,0,0,0
18236,ruta89fm[.]com/images/AS@Vies/1i75cf7b16vc<Fd...,305,False,0,1,30,1,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
96000,xbox360[.]ign[.]com/objects/850/850402[.]html,39,False,0,1,12,1,0,0,0,0,0,0,0
96001,games[.]teamxbox[.]com/xbox-360/1860/Dead-Space/,44,False,0,1,7,1,0,0,0,0,1,0,0
96002,www[.]gamespot[.]com/xbox360/action/deadspace/,42,False,0,1,3,1,1,0,0,0,0,0,0
96003,en[.]wikipedia[.]org/wiki/Dead_Space_(video_game),45,False,0,0,0,1,0,0,0,0,0,0,0
96004,www[.]angelfire[.]com/goth/devilmaycrytonite/,41,False,0,1,0,1,1,0,0,0,0,0,0

In [ ]:
data.head()

,url,url_character_count,phishing_attempt,biz_character_count,com_count_in_url
0,nobell[.]it/70ffb52d079109dca5664cce6f31737378...,225,True,0,0
1,www[.]dghjdgf[.]com/paypal[.]co[.]uk/cycgi-bin...,81,True,0,0
2,serviciosbys[.]com/paypal[.]cgi[.]bin[.]get-in...,177,True,0,0
3,mail[.]printakid[.]com/www[.]online[.]american...,60,True,0,0
4,thewhiskeydregs[.]com/wp-content/themes/widesc...,116,True,0,0

In [ ]:
for i in range(len(data)):
  if data['phishing_attempt'].iloc[i] == False:
   max(periodcountlist)

In [ ]:
data['url'].iloc[0]

'nobell[.]it/70ffb52d079109dca5664cce6f317373782/login[.]SkyPe[.]com/en/cgi-bin/verification/login/70ffb52d079109dca5664cce6f317373/index[.]php?cmd=_profile-ach&outdated_page_tmpl=p/gen/failed-to-load&nav=0[.]5[.]1&login_access=1322408526'

## 2. Data exploration

Data exploration is one of the most interesting and informative steps in any data science project. The purpose of this step is simply to use descriptive statistics, filtering, and simply looking through the data in order to better understand its contents.

The given data has three columns: a given URL, the number of characters in that URL, and a label indicating whether or not the URL is a phishing attempt.

In [ ]:
data.head(-10)

,url,url_character_count,phishing_attempt,biz_character_count,com_count_in_url
0,nobell[.]it/70ffb52d079109dca5664cce6f31737378...,225,True,0,0
1,www[.]dghjdgf[.]com/paypal[.]co[.]uk/cycgi-bin...,81,True,0,0
2,serviciosbys[.]com/paypal[.]cgi[.]bin[.]get-in...,177,True,0,0
3,mail[.]printakid[.]com/www[.]online[.]american...,60,True,0,0
4,thewhiskeydregs[.]com/wp-content/themes/widesc...,116,True,0,0
...,...,...,...,...,...
95990,www[.]gamefaqs[.]com/computer/doswin/data/9263...,49,False,0,0
95991,www[.]gamespot[.]com/condemned-criminal-origin...,61,False,0,0
95992,xbox360[.]gamespy[.]com/xbox-360/condemned-2-b...,51,False,0,0
95993,xbox360[.]ign[.]com/objects/903/903765[.]html,39,False,0,0
95994,games[.]teamxbox[.]com/xbox-360/1737/Condemned...,55,False,0,0

It's important to note that all of the URLs in this dataset have been defanged -- in other words, every `.` has been replaced with `[.]` so that the addresses cannot resolve to a malicious destination. When security data scientists work with executable phishes, we always defang in order to protect ourselves and the companies we work for. The variable `url_character_count` is the length of each malicious URL pre-defanging.

You may have also noticed that the full URLs are not always visible when the data is displayed in a table format, like in the above `data.head()` cell. If you're interesting in looking at a full URL, you can do so using the function `iloc`.

The format looks like this:
`data[<insert variable name>].iloc[<insert row index number>]`

Python is a zero-indexed language, meaning that counts start at 0 instead of 1, so the two cells above translate like this:

`data['url'].iloc[0]` --> return the URL of the first row in the data 

`data['url'].iloc[14]` --> return the URL of the fifteenth row in the data

In [ ]:
data['url'].iloc[0]

'nobell[.]it/70ffb52d079109dca5664cce6f317373782/login[.]SkyPe[.]com/en/cgi-bin/verification/login/70ffb52d079109dca5664cce6f317373/index[.]php?cmd=_profile-ach&outdated_page_tmpl=p/gen/failed-to-load&nav=0[.]5[.]1&login_access=1322408526'

Now it's your turn to look at the data! Try answering some of the following guiding questions and write some of your own.

- How large is the dataset?
- How many phishing examples are in the data? How many benign?
- What is the range in `url_character_count` for this dataset?
- Do you notice any similarities between the phish examples?

## 3. Identifying new features

From your research of phishing and your exploration of the data, you and your team should generate ideas for characteristics of phishing that can be derived from the dataset. For example, you may hypothesize that malicious URLs are long and contain a high number of numeric characters. Both of these characteristics can be derived from the `url` column in the given dataset, transformed into a column, and used as an input to the Random Forest Classifier. The consequent performance of the model indicates the quality of the derived features. This process is known as feature engineering.

Below is an example of how to add new columns to the dataframe.

In [ ]:
data['numeric_character_count'] = data['url'].apply(lambda x: sum(c.isdigit() for c in x))

#2 biz
data['biz_character_count'] = data['url'].apply(lambda x: int('biz' in x))
#3 .com
data['com_count_in_url'] = data['url'].apply(lambda x: int('com'  in x))

data['slash_count_in_url'] = data['url'].apply(lambda x: int('/'  in x))

data['www_count_in_url'] = data['url'].apply(lambda x: int('www'  in x))

data['php_count_in_url'] = data['url'].apply(lambda x: int('php'  in x))

data['paypal_count_in_url'] = data['url'].apply(lambda x: int('paypal'  in x))

data['wp_count_in_url'] = data['url'].apply(lambda x: int('wp'  in x))

data['-_count_in_url'] = data['url'].apply(lambda x: int('-'  in x))

data['identification_count_in_url'] = data['url'].apply(lambda x: int('identification'  in x))

data['net_count_in_url'] = data['url'].apply(lambda x: int('net'  in x))

In [ ]:
str1 = 'Apple'

str1['p'] = str1['str1'].apply(lambda x: int('a' in x))

Your turn! Add any columns to the dataframe that you and your team have hypothesized are characteristics of malicious URLs.

## 4. Building the model

Before we build the model, we must divide the data into a training set and a testing set. Training a model simply means giving a subset of the data (training set) to a machine learning algorithm and allowing it to extrapolate a relationship between the features of the dataset and its labels.

The inputed dataframe to the machine learning algorithm (`x`) should only contain the features of interest, not the the very long `url` strings. Only numeric abstractions of the url can be used as an input. Therefore, prior to dividing the data into training and testing, we must first save the `url` field as an independent dataframe that we can refer to later, the data without any long string fields or labels as `x`, and the labels alone as `y`.

In [ ]:
urls = data['url']
x = data.drop(['url','phishing_attempt'], axis=1)
y = data['phishing_attempt']

In [ ]:
urls.head()

0    nobell[.]it/70ffb52d079109dca5664cce6f31737378...
1    www[.]dghjdgf[.]com/paypal[.]co[.]uk/cycgi-bin...
2    serviciosbys[.]com/paypal[.]cgi[.]bin[.]get-in...
3    mail[.]printakid[.]com/www[.]online[.]american...
4    thewhiskeydregs[.]com/wp-content/themes/widesc...
Name: url, dtype: object

In [ ]:
x.head()

,url_character_count,biz_character_count,com_count_in_url,numeric_character_count,slash_count_in_url,www_count_in_url,php_count_in_url,paypal_count_in_url,wp_count_in_url,-_count_in_url,identification_count_in_url,net_count_in_url
0,225,0,1,58,1,0,1,0,0,1,0,0
1,81,0,1,1,1,1,1,1,0,1,0,0
2,177,0,1,47,1,0,0,1,0,1,0,0
3,60,0,1,0,1,1,0,0,0,0,0,0
4,116,0,1,21,1,0,0,0,1,1,0,0

In [ ]:
y.head()

0    True
1    True
2    True
3    True
4    True
Name: phishing_attempt, dtype: bool

Once the necessary transformations have taken place, we can divide the feature dataframe `x` and the labels dataframe `y` into training and testing sets. The data is split 70% into training and 30% into testing because it's better to train a model on a greater proportion of the data but if that proportion is too high, we risk overtraining the model. Overtraining a model would mean that the ML algorithm would perform exceptionally well on inputs that most closely resembled its training set, and poorly on testing sets that varied from the training material. These proportions vary depending on the data at hand, but for our simple use case, the 70:30 division should suffice.

Without a specified seed (`random_state`), the data will be randomly divided every single time `train_test_split` is run. If you and your team would like to have your data consistently split the same way on each of your devices, select the same value for the `random_state` parameter.

In [ ]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.3, random_state=42)

In [ ]:
x_train.head()

,url_character_count,biz_character_count,com_count_in_url,numeric_character_count,slash_count_in_url,www_count_in_url,php_count_in_url,paypal_count_in_url,wp_count_in_url,-_count_in_url,identification_count_in_url,net_count_in_url
75340,39,0,0,0,1,0,0,0,0,0,0,0
71209,18,0,0,0,1,0,0,0,0,0,0,0
21472,25,0,0,5,1,0,0,0,0,0,0,0
6824,48,0,0,0,1,0,0,0,1,1,0,0
62942,27,0,0,0,1,0,0,0,0,0,0,0

In [ ]:
y_train.head()

75340    False
71209    False
21472     True
6824      True
62942    False
Name: phishing_attempt, dtype: bool

Now for the main event -- initializing the Random Forest classifier and training it. The `n_estimators` variable is used to indicate how many "trees" in the Random Forest should be initialized and available to train with. The higher the number, the longer training / testing will take and the greater the risk there is for overtraining. As you iterate on the classifier, play with the `n_estimators` value and see how that impacts the performance of your model.

In [ ]:
rf_classifier = RandomForestClassifier(n_estimators = 1000)

Then fit the classifer to the training data...

In [ ]:
rf_classifier.fit(x_train, y_train)

RandomForestClassifier(n_estimators=1000)

...and then see what the classifier predicts the labels of the testing set should be!

In [ ]:
y_pred = rf_classifier.predict(x_test)

## 5. Measuring performance

We can then measure the accuracy of the model using functions from the `metrics` module of `sklearn`

In [ ]:
print("Model accuracy = ", metrics.accuracy_score(y_test, y_pred))

Model accuracy =  0.8605999583362266

An accuracy score of `0.7824803833067148` means that approximately 78% of the time the classifier will correctly label a malicious URL as a phishing attempt.

## 6. Iterating

Your task from now on is to iterate on the features for the data and see how adding or removing variables impacts the accuracy of the model. Be creative, and have fun! If you need a source of inspiration, check out some of the articles included in the project guide or feel free to do some research of your own.

Because of how we split our data into training and testing sets earlier, we can re-join the predicted values with the original URLs and use that as starting point for idea generation. For example, are there any similarities between the URLs that are actually phishing attempts but classified as benign?

In [ ]:
data_with_predictions = y_test.to_frame('actual_value')

In [ ]:
data_with_predictions.insert(0, 'predicted_value', y_pred)

In [ ]:
data_with_predictions = urls.to_frame().join(data_with_predictions, how='inner')

In [ ]:
data_with_predictions.head(20)

,url,predicted_value,actual_value
8,super1000[.]info/docs,True,True
12,www[.]coincoele[.]com[.]br/Scripts/smiles/?pt-...,False,True
24,mercadolivre[.]com[.]br[.]premiosfidelidade201...,True,True
34,promusic[.]co/components/interbank[.]com/,False,True
35,uvb[.]lg[.]ua/templates/a216/[.]PayPaI/e9d83d4...,True,True
39,phamxuanlinh[.]tk/secure-code8/security/login[...,True,True
53,lunatic-photography[.]opidum[.]de//wp-content/...,True,True
54,users11[.]jabry[.]com/reaseo/Aolupdate[.]htm,False,True
70,account[.]craigjsilist[.]org/blog/login/index[...,True,True
75,www[.]meor[.]org/wp-includes/images/crystal/lo...,True,True
87,'www[.]gestion-des-impayes[.]com/visuel[.]php?...,True,True
88,elshadayeletronicos[.]com/abn-amro/identificat...,True,True
95,rsaxena[.]5gbfree[.]com/facebook[.]html,True,True
97,steamglfts[.]h16[.]ru,True,True
98,steamglfts[.]hut2[.]ru/,False,True
101,bellicapelliweb[.]it/libraries/domit/webscr/we...,True,True
102,vk-psich[.]hut2[.]ru,False,True
103,uvb[.]lg[.]ua/templates/a216/[.]PayPaI/fd60358...,True,True
104,mmilogistics[.]net/preview/bin/ssl/_id/www[.]p...,True,True
106,vklife[.]hut2[.]ru,True,True

Another way to determine the quality of your derived features is to measure feature importance. There is a function within the `sklearn` module that extracts the relative importance the Random Forest algorithm assigned each feature in determining the predicted label.

In [ ]:
pd.Series(rf_classifier.feature_importances_, index = np.array(x_train.columns))

url_character_count            0.435843
biz_character_count            0.002163
com_count_in_url               0.027249
numeric_character_count        0.186988
slash_count_in_url             0.006845
www_count_in_url               0.097347
php_count_in_url               0.074675
paypal_count_in_url            0.061549
wp_count_in_url                0.039356
-_count_in_url                 0.049607
identification_count_in_url    0.000242
net_count_in_url               0.018137
dtype: float64

The outputed table reveals that the Random Forest classifier more heavily relied on the `url_character_count` feature than the `numeric_character_count` to predict whether or not each URL was a phish attempt. The lower importance of `numeric_character_count` doesn't fundamentally mean that it's a poor feature, only that the algorithm determined the relationship between the number of numeric characters and the label was less pronounced and did not to be weighted as heavily in the classifying process.

As you continue to iterate on your model, checking the feature importance matrix is a convenient way of determining which features are important and which may be extraneous. If, for example, a feature had an importance of `0.05`, it's unlikely that feature is a qualified indicator of phishing.

In [ ]:
from sklearn.metrics import confusion_matrix
cm=confusion_matrix(y_test,y_pred)
cm

array([[13074,  1324],
       [ 2691, 11713]])

## Tips

- if you want to preserve the results of previous classifier attempts, simply copy the original code, paste into new cells, and change the names of the variables the outputs are stored in